body {
   font: 10pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
  }
  a {
      text-decoration: none; /* Отменяем подчеркивание у ссылки */
      font-family: Consolas;
      font-weight: bolder;
      color: black;
     }
