<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ABIBULAEV</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Bugatti</a></li>
      <li><a href="/firstcar">Type 13</a></li>
      <li><a href="/secondcar">Veyron</a></li>
      <li><a href="/thirdcar">EB218</a></li>
      <li><a href="/fourthcar">EB110</a></li>
      <li><a href="/fifthcar"> Type 41</a></li>
    </ul>
  </div>
</nav>
<%- body %>
  </body>
</html>
